body {
  /* background:repeating-linear-gradient(
    to right,
    #111     ,#111 10px,
    #222 10px,#222 20px
  ); */
  background-color: #bbb;
  font-family: '나눔바른고딕', 'NanumBarunGothic', '나눔고딕', 'NanumGothic', '맑은 고딕', 'Malgun Gothic',
               'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}

/*** Main Container ***/

.main {
  /* max-width: 640px; */
  min-width: 600px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,50%);
  padding: 1.5em 1em;
  transition: width 1s, bottom 0.5s, height 1s, border-radius 0.7s;

  /* background: white; */
  border-radius: 1em;
  background-color: #eeeeee;
  box-shadow:  20px 20px 60px #9f9f9f, 
             -20px -20px 60px #d7d7d7;
}

.title {
  text-align: center;
}

@media screen and (max-width: 640px) {
  body > div.main {
    min-width: unset;
    width: 100%;
    position: absolute;
    left: 0;
    /* transform: initial; */
    transform: translate(0%,0%);
    box-sizing: border-box;
    
    bottom: 0;
    border-radius: 1em 1em 0 0;
  }
  
  .content .links li{
    font-size: 1.2em;
    padding: 0.7em;
  }
}

.title > h1 { text-align: center; }
.main > hr { border: 1px grey solid; }

/*** Instance List ***/

.content .links { padding: 0.2em; }
.links a { 
  /* color: white; */
  text-decoration: none;
}
.links li {
  list-style: none;
  background-color: #888;
  color: #ccc;
  margin-bottom: 0.3em;
  padding: 0.3em;
  border-radius: 0.1em;
  
  transition: padding 0.5s;
}

.links li > .title {
  color: white;
}

.links li:hover { background-color: #aaa;}
.links li:active { background-color: #666; }

/* TODO: 한 줄에서 span으로 감싼 텍스트를 좌측 정렬/우측 정렬로 한 줄에 표시, 너비가 충분하지 않은 경우 줄바꿈 */
